# Operating system temporary files
.DS_Store

# Editor/IDE specific settings
.idea
.vscode/
*.iml

# Temporary output of build tools
bazel-*
*.out

# These keep creeping in on my machine.
/third_party/VENDOR-LICENSE/LICENSE
/third_party/VENDOR-LICENSE/vendor/

/generated/
