# Copyright 2020 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: controlplane
  namespace: mink-system
  labels:
    knative.dev/release: devel
spec:
  replicas: 3
  podManagementPolicy: Parallel
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: controlplane
  serviceName: "webhook"
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
      labels:
        app: controlplane
        knative.dev/release: devel
    spec:
      # To avoid node becoming SPOF, spread our replicas to different nodes.
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app: controlplane
              topologyKey: kubernetes.io/hostname
            weight: 100

      serviceAccountName: controller
      containers:
      - name: controller
        # This is the Go import path for the binary that is containerized
        # and substituted here.
        image: ko://github.com/mattmoor/mink/cmd/webhook

        # Mostly from Tekton
        args: [
          "-kubeconfig-writer-image", "ko://github.com/tektoncd/pipeline/cmd/kubeconfigwriter",
          "-creds-image", "ko://github.com/tektoncd/pipeline/cmd/creds-init",
          "-git-image", "ko://github.com/tektoncd/pipeline/cmd/git-init",
          "-nop-image", "tianon/true",
          "-shell-image", "busybox",
          "-gsutil-image", "google/cloud-sdk",
          "-entrypoint-image", "ko://github.com/tektoncd/pipeline/cmd/entrypoint",
          "-imagedigest-exporter-image", "ko://github.com/tektoncd/pipeline/cmd/imagedigestexporter",
          "-pr-image", "ko://github.com/tektoncd/pipeline/cmd/pullrequest-init",
          "-build-gcs-fetcher-image", "ko://github.com/GoogleCloudPlatform/cloud-builders/gcs-fetcher/cmd/gcs-fetcher",
        ]

        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1000m
            memory: 1000Mi

        readinessProbe: &probe
          periodSeconds: 1
          httpGet:
            scheme: HTTPS
            port: 8443
            httpHeaders:
            - name: k-kubelet-probe
              value: "controlplane"
        livenessProbe: *probe

        env:
        # These settings are used for statefulset-based
        # leader selection.
        - name: STATEFUL_CONTROLLER_ORDINAL
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: STATEFUL_SERVICE_NAME
          value: "webhook"

        - name: SYSTEM_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: CONFIG_LOGGING_NAME
          value: config-logging
        - name: CONFIG_OBSERVABILITY_NAME
          value: config-observability
        - name: CONFIG_FEATURE_FLAGS_NAME
          value: config-features

        # Enable Broker injection by default
        - name: BROKER_INJECTION_DEFAULT
          value: "true"

        # PingSource
        - name: PING_IMAGE
          value: ko://knative.dev/eventing/cmd/ping
        - name: MT_PING_IMAGE
          value: ko://knative.dev/eventing/cmd/mtping

        # APIServerSource
        - name: APISERVER_RA_IMAGE
          value: ko://knative.dev/eventing/cmd/apiserver_receive_adapter

        # GitHubSource
        - name: GH_RA_IMAGE
          value: ko://knative.dev/eventing-contrib/github/cmd/receive_adapter

        # KafkaSource
        - name: KAFKA_RA_IMAGE
          value: ko://knative.dev/eventing-contrib/kafka/source/cmd/receive_adapter

        # VSphereSource
        - name: VSPHERE_ADAPTER
          value: ko://github.com/vmware-tanzu/sources-for-knative/cmd/sources-for-knative-adapter

        # PostgresSource
        - name: POSTGRES_SOURCE_RA_IMAGE
          value: ko://github.com/vaikas/postgressource/cmd/receive_adapter

        # TODO(https://github.com/knative/pkg/pull/953): Remove stackdriver specific config
        - name: METRICS_DOMAIN
          value: knative.dev/mink

        # Mostly from Tekton
        - name: CONFIG_ARTIFACT_BUCKET_NAME
          value: config-artifact-bucket
        - name: CONFIG_ARTIFACT_PVC_NAME
          value: config-artifact-pvc

        securityContext:
          allowPrivilegeEscalation: false

        ports:
        - name: metrics
          containerPort: 9090
        - name: profiling
          containerPort: 8008
        - name: http-challenge
          containerPort: 8080

      - name: contour-external
        image: ko://github.com/projectcontour/contour/cmd/contour
        args:
        - serve
        - --ingress-class-name=contour-external
        - --incluster
        - --xds-address=0.0.0.0
        - --http-port=8000
        - --health-port=8000
        - --xds-port=8001
        - --debug-http-port=6060
        - --envoy-service-http-port=8080
        - --envoy-service-https-port=8443
        - --contour-cafile=/ca/cacert.pem
        - --contour-cert-file=/certs/tls.crt
        - --contour-key-file=/certs/tls.key
        - --config-path=/config/contour.yaml
        ports:
        - containerPort: 8001
          name: xds
        - containerPort: 8000
          name: debug
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8000
        readinessProbe:
          tcpSocket:
            port: 8001
          initialDelaySeconds: 1
          periodSeconds: 1
        volumeMounts:
          - name: contourcert
            mountPath: /certs
            readOnly: true
          - name: cacert
            mountPath: /ca
            readOnly: true
          - name: contour-config-external
            mountPath: /config
            readOnly: true
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name

      - name: contour-internal
        image: ko://github.com/projectcontour/contour/cmd/contour
        args:
        - serve
        - --ingress-class-name=contour-internal
        - --incluster
        - --xds-address=0.0.0.0
        - --http-port=8004
        - --health-port=8004
        - --xds-port=8003
        - --debug-http-port=6061
        - --envoy-service-http-port=8081
        - --envoy-service-https-port=8444
        - --contour-cafile=/ca/cacert.pem
        - --contour-cert-file=/certs/tls.crt
        - --contour-key-file=/certs/tls.key
        - --config-path=/config/contour.yaml
        ports:
        - containerPort: 8003
          name: xds
        - containerPort: 8004
          name: debug
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8004
        readinessProbe:
          tcpSocket:
            port: 8003
          initialDelaySeconds: 1
          periodSeconds: 1
        volumeMounts:
          - name: contourcert
            mountPath: /certs
            readOnly: true
          - name: cacert
            mountPath: /ca
            readOnly: true
          - name: contour-config-internal
            mountPath: /config
            readOnly: true
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name

      dnsPolicy: ClusterFirst
      volumes:
        - name: contourcert
          secret:
            secretName: contourcert
        - name: cacert
          secret:
            secretName: cacert
        - name: contour-config-external
          configMap:
            name: contour-external
            defaultMode: 0644
            items:
            - key: contour.yaml
              path: contour.yaml
        - name: contour-config-internal
          configMap:
            name: contour-internal
            defaultMode: 0644
            items:
            - key: contour.yaml
              path: contour.yaml


---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: controlplane
    knative.dev/release: devel
  name: webhook
  namespace: mink-system
spec:
  ports:
  # Define metrics and profiling for them to be accessible within service meshes.
  - name: http-metrics
    port: 9090
    targetPort: 9090
  - name: http-profiling
    port: 8008
    targetPort: 8008
  - name: https-webhook
    port: 443
    targetPort: 8443
  selector:
    app: controlplane
---
apiVersion: v1
kind: Service
metadata:
  name: contour-external
  namespace: mink-system
spec:
  ports:
  - port: 8001
    name: xds
    targetPort: 8001
  selector:
    app: controlplane
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: contour-internal
  namespace: mink-system
spec:
  ports:
  - port: 8001
    name: xds
    targetPort: 8003
  selector:
    app: controlplane
  type: ClusterIP
