name: MinKinD Upstream E2Es

on:
  pull_request:
    branches: [ master ]

  schedule:
  - cron: '0 */3 * * *'

defaults:
  run:
    shell: bash
    working-directory: ./src/github.com/mattmoor/mink

jobs:
  upstream-tests:
    name: e2e tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        k8s-version:
        - v1.17.11
        - v1.18.8
        - v1.19.1

        leg:
        - ingress conformance
        - serving runtime conformance
        - serving api conformance
        - serving e2e
        - eventing e2e
        - eventing conformance
        - tekton e2e

        # Map between K8s and KinD versions.
        # This is attempting to make it a bit clearer what's being tested.
        # See: https://github.com/kubernetes-sigs/kind/releases/tag/v0.9.0
        include:
        - k8s-version: v1.17.11
          kind-version: v0.9.0
          kind-image-sha: sha256:5240a7a2c34bf241afb54ac05669f8a46661912eab05705d660971eeb12f6555
        - k8s-version: v1.18.8
          kind-version: v0.9.0
          kind-image-sha: sha256:f4bcc97a0ad6e7abaf3f643d890add7efe6ee4ab90baeb374b4f41a4c95567eb
        - k8s-version: v1.19.1
          kind-version: v0.9.0
          kind-image-sha: sha256:98cf5288864662e37115e362b23e4369c8c4a408f99cbc06e58ac30ddc721600

        - leg: ingress conformance
          upstream: knative.dev/net-contour
          org: knative-sandbox
          repo: net-contour
          test-suite: ./test/conformance/...
          extra-go-flags: -short
          cluster-suffix: c${{ github.run_id }}.local
          extra-test-flags: --ingressClass=contour.ingress.networking.knative.dev --cluster-suffix=c${{ github.run_id }}.local --ingressendpoint="${IPS[0]}" --enable-alpha --enable-beta
          skip-test-config: 'true'
        - leg: serving runtime conformance
          upstream: knative.dev/serving
          org: knative
          repo: serving
          test-suite: ./test/conformance/runtime/...
          cluster-suffix: c${{ github.run_id }}.local
          extra-test-flags: --ingressClass=contour.ingress.networking.knative.dev --ingressendpoint="${IPS[0]}"
          skip-test-config: 'false'
        - leg: serving api conformance
          upstream: knative.dev/serving
          org: knative
          repo: serving
          test-suite: ./test/conformance/api/...
          cluster-suffix: c${{ github.run_id }}.local
          extra-test-flags: --ingressClass=contour.ingress.networking.knative.dev --ingressendpoint="${IPS[0]}" --enable-alpha
          skip-test-config: 'false'
        - leg: serving e2e
          upstream: knative.dev/serving
          org: knative
          repo: serving
          test-suite: ./test/e2e
          cluster-suffix: c${{ github.run_id }}.local
          extra-test-flags: --ingressClass=contour.ingress.networking.knative.dev --ingressendpoint="${IPS[0]}"
          skip-test-config: 'false'
        - leg: eventing e2e
          upstream: knative.dev/eventing
          org: knative
          repo: eventing
          test-suite: ./test/e2e
          extra-go-flags: -parallel=12
          extra-test-flags: -brokerclass=MTChannelBasedBroker -channels=messaging.knative.dev/v1beta1:Channel,messaging.knative.dev/v1beta1:InMemoryChannel,messaging.knative.dev/v1:Channel,messaging.knative.dev/v1:InMemoryChannel -sources=sources.knative.dev/v1alpha2:ApiServerSource,sources.knative.dev/v1alpha2:ContainerSource,sources.knative.dev/v1alpha2:PingSource
          cluster-suffix: c${{ github.run_id }}.local
          skip-test-config: 'false'
        - leg: eventing conformance
          upstream: knative.dev/eventing
          org: knative
          repo: eventing
          test-suite: ./test/conformance
          extra-go-flags: -parallel=12
          extra-test-flags: -brokers=eventing.knative.dev/v1beta1:MTChannelBasedBroker -channels=messaging.knative.dev/v1beta1:Channel,messaging.knative.dev/v1beta1:InMemoryChannel,messaging.knative.dev/v1:Channel,messaging.knative.dev/v1:InMemoryChannel -sources=sources.knative.dev/v1beta1:ApiServerSource,sources.knative.dev/v1alpha2:ContainerSource,sources.knative.dev/v1beta1:PingSource
          cluster-suffix: c${{ github.run_id }}.local
          skip-test-config: 'false'
        - leg: tekton e2e
          upstream: github.com/tektoncd/pipeline
          org: tektoncd
          repo: pipeline
          test-suite: ./test/...
          cluster-suffix: c${{ github.run_id }}.local
          skip-test-config: 'true'

    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: on
      GOFLAGS: -ldflags=-s -ldflags=-w -mod=vendor
      REGISTRY_PORT: 5000
      REGISTRY_NAME: registry.local
      KO_DOCKER_REPO: registry.local:5000/knative
      GATEWAY_OVERRIDE: envoy-external
      GATEWAY_NAMESPACE_OVERRIDE: mink-system
      SYSTEM_NAMESPACE: mink-system
      ARTIFACTS: ${{ github.workspace }}/artifacts

    steps:
    - name: Set up Go 1.15.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.x

    - name: Install Dependencies
      working-directory: ./
      run: |
        curl -L https://github.com/google/ko/releases/download/v0.6.0/ko_0.6.0_Linux_x86_64.tar.gz | tar xzf - ko
        chmod +x ./ko
        sudo mv ko /usr/local/bin

    - name: Check out code onto GOPATH
      uses: actions/checkout@v2
      with:
        repository: ${{ matrix.org }}/${{ matrix.repo }}
        ref: ${{ matrix.branch }}
        path: ./src/${{ matrix.upstream }}

    - name: Check out code onto GOPATH
      uses: actions/checkout@v2
      with:
        path: ./src/github.com/mattmoor/mink

    - name: Install KinD
      run: |
        set -x

        # Disable swap otherwise memory enforcement doesn't work
        # See: https://kubernetes.slack.com/archives/CEKK1KTN2/p1600009955324200
        sudo swapoff -a
        sudo rm -f /swapfile

        curl -Lo ./kind https://github.com/kubernetes-sigs/kind/releases/download/${{ matrix.kind-version }}/kind-$(uname)-amd64
        chmod +x ./kind
        sudo mv kind /usr/local/bin

    - name: Create KinD Cluster
      run: |
        set -x

        # KinD configuration.
        cat > kind.yaml <<EOF
        apiVersion: kind.x-k8s.io/v1alpha4
        kind: Cluster
        nodes:
        - role: control-plane
          image: kindest/node:${{ matrix.k8s-version }}@${{ matrix.kind-image-sha }}
        - role: worker
          image: kindest/node:${{ matrix.k8s-version }}@${{ matrix.kind-image-sha }}
        - role: worker
          image: kindest/node:${{ matrix.k8s-version }}@${{ matrix.kind-image-sha }}
        - role: worker
          image: kindest/node:${{ matrix.k8s-version }}@${{ matrix.kind-image-sha }}

        # This is needed in order to support projected volumes with service account tokens.
        # See: https://kubernetes.slack.com/archives/CEKK1KTN2/p1600268272383600
        kubeadmConfigPatches:
          - |
            apiVersion: kubeadm.k8s.io/v1beta2
            kind: ClusterConfiguration
            metadata:
              name: config
            apiServer:
              extraArgs:
                "service-account-issuer": "kubernetes.default.svc"
                "service-account-signing-key-file": "/etc/kubernetes/pki/sa.key"
            networking:
              dnsDomain: "${{ matrix.cluster-suffix }}"

        # Support a local registry
        # Support many layered images: https://kubernetes.slack.com/archives/CEKK1KTN2/p1602770111199000
        containerdConfigPatches:
        - |-
          [plugins."io.containerd.grpc.v1.cri".registry.mirrors."$REGISTRY_NAME:$REGISTRY_PORT"]
            endpoint = ["http://$REGISTRY_NAME:$REGISTRY_PORT"]
          [plugins."io.containerd.grpc.v1.cri".containerd]
            disable_snapshot_annotations = true
        EOF

        # Create a cluster!
        kind create cluster --config kind.yaml

    - name: Setup local registry
      run: |
        # Run a registry.
        docker run -d --restart=always \
          -p $REGISTRY_PORT:$REGISTRY_PORT --name $REGISTRY_NAME registry:2
        # Connect the registry to the KinD network.
        docker network connect "kind" $REGISTRY_NAME
        # Make the $REGISTRY_NAME -> 127.0.0.1, to tell `ko` to publish to
        # local reigstry, even when pushing $REGISTRY_NAME:$REGISTRY_PORT/some/image
        sudo echo "127.0.0.1 $REGISTRY_NAME" | sudo tee -a /etc/hosts

    - name: Install mink core
      run: |
        set -o pipefail

        # Tell the build script to process the yaml as follows.
        export PROCESSOR="sed s/LoadBalancer/NodePort/g"
        ./hack/build.sh --install

        # Use mink to install things.
        mink install

    - name: Deploy Test Config
      if: ${{ matrix.skip-test-config != 'true' }}
      working-directory: ./src/${{ matrix.upstream }}
      run: |
        # Make sure the things going to system namespace make it!
        [[ ! -d ./test/config ]] || ko resolve -Pf test/config | \
           sed -E "s/(knative-eventing|knative-serving|tekton-pipelinens)/${SYSTEM_NAMESPACE}/g" | \
           kubectl apply -f -

        # Be KinD to these tests.
        kubectl scale -n${SYSTEM_NAMESPACE} deployment/chaosduck --replicas=0 || true

    - name: Upload Test Images
      working-directory: ./src/${{ matrix.upstream }}
      run: |
        kubectl create namespace serving-tests || true
        [[ ! -f ./test/upload-test-images.sh ]] || ./test/upload-test-images.sh

    - name: Run smoke test
      run: |
        set -x

        # Smoke test.
        cat | kubectl apply -f - <<EOF
        apiVersion: serving.knative.dev/v1
        kind: Service
        metadata:
          name: autoscale-go
        spec:
          template:
            spec:
              containers:
              - image: gcr.io/knative-samples/autoscale-go:0.1
        EOF

        # Wait for the service to become ready.
        kubectl wait ksvc \
           --timeout 2m \
           --namespace default \
           --for=condition=Ready \
           --all

        HTTP=$(kubectl get svc -n${SYSTEM_NAMESPACE} envoy-external -ojsonpath='{.spec.ports[?(@.targetPort==8080)].nodePort}')
        IPS=( $(kubectl get nodes -lkubernetes.io/hostname!=kind-control-plane -ojsonpath='{.items[*].status.addresses[?(@.type=="InternalIP")].address}') )
        curl -H 'Host: autoscale-go.default.example.com' http://${IPS[0]}:${HTTP}/?sleep=100

    - name: Run e2e Tests
      working-directory: ./src/${{ matrix.upstream }}
      run: |
        set -x

        # Exclude the control-plane node, which doesn't seem to expose the nodeport service.
        IPS=( $(kubectl get nodes -lkubernetes.io/hostname!=kind-control-plane -ojsonpath='{.items[*].status.addresses[?(@.type=="InternalIP")].address}') )

        # Run the tests tagged as e2e on the KinD cluster.
        go test -race -count=1 -timeout=40m -tags=e2e \
           ${{ matrix.extra-go-flags }} ${{ matrix.test-suite }} \
           ${{ matrix.extra-test-flags }}

    - name: Collect ksvc diagnostics
      if: ${{ failure() }}
      run: kubectl get ksvc -oyaml

    - name: Collect pod diagnostics
      if: ${{ failure() }}
      run: kubectl describe pods

    - name: Collect system diagnostics
      if: ${{ failure() }}
      run: |
        kubectl -n${SYSTEM_NAMESPACE} get pods

        echo '::group:: describe'
        kubectl -n${SYSTEM_NAMESPACE} describe pods
        echo '::endgroup::'

        for x in $(kubectl get pods -n${SYSTEM_NAMESPACE} -oname); do
          echo "::group:: describe $x"
          kubectl -n${SYSTEM_NAMESPACE} describe $x
          echo '::endgroup::'

          echo "::group:: $x logs"
          kubectl -n${SYSTEM_NAMESPACE} logs $x --all-containers
          echo '::endgroup::'
        done


    - name: Dump Artifacts
      if: ${{ failure() }}
      run: |
        if [[ -d ${{ env.ARTIFACTS }} ]]; then
          cd ${{ env.ARTIFACTS }}
          for x in $(find . -type f); do
            echo "::group:: artifact $x"
            cat $x
            echo '::endgroup::'
          done
        fi

    - name: Post failure notice to Slack
      uses: rtCamp/action-slack-notify@v2.1.0
      if: ${{ failure() && github.event_name != 'pull_request' }}
      env:
        SLACK_ICON: http://github.com/${{ matrix.org }}.png?size=48
        SLACK_USERNAME: sockpuppet
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

        SLACK_CHANNEL: 'mink'
        SLACK_COLOR: '#8E1600'
        MSG_MINIMAL: 'true'
        SLACK_TITLE: Periodic upstream ${{ matrix.leg }} on ${{ matrix.k8s-version }} failed.
        SLACK_MESSAGE: |
          For detailed logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
